@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&display=swap");
/*FONTS*/
$principal-font: "Montserrat", sans-serif;
$secundary-font: "Raleway", sans-serif;
/*FONTS*/

/*COLORS*/
$clr-gray: #8c8585;
$clr-light-gray: #f3f3f3;
$clr-gray-dark: #222222;
$clr-light: #ffffff;
$clr-yellow: #fdc62e;
$clr-green: #107c10;
$clr-red: #f9283b;
$clr-black: #000000;
$clr-blue: #147aff;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
/*COLORS*/

/* MEDIA QUERIES */
$phoneSM: 360px;
$phone: 480px;
$tablet: 768px;
$dekstopSM: 840px;
$dekstop: 992px;
$dekstopXL: 1200px;
/* MEDIA QUERIES */
