@use "../base/variables" as v;
@use "../base/mixins" as mx;

.header {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 1.5rem;
  font-size: 1.5rem;

  .header__logo {
    font-size: 3.5rem;
    margin-left: 4rem;
    font-weight: bold;
    a {
      color: v.$clr-red;
    }
  }

  .header__login {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
    justify-content: end;
    margin-right: 3rem;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    li {
      position: relative;
      margin: 0.5rem;
      cursor: pointer;
      transition: 1s all ease;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -0.5rem;
        left: 0;
        background-color: v.$clr-black;
        transform-origin: bottom right;
        transition: transform 500ms ease-out;
      }
      &:hover {
        transition: all 500ms;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .link {
    color: v.$clr-gray;
    font-weight: bold;
  }

  .active {
    color: v.$clr-black;
  }
}

.open__menu,
.close__menu {
  display: none;
}

@include mx.dekstopSM {
  .open__menu,
  .close__menu {
    display: block;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }

  .open__menu {
    color: v.$clr-black;
  }

  .header {
    .header__logo {
      text-align: left;
      font-size: 2.5rem;
    }
    justify-content: space-around;

    .header__nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 5%;
      padding: 7rem;
      border-radius: 1rem;
      background-color: v.$clr-light;
      color: v.$clr-light;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      transition: all 0.5s ease;
    }

    .header__login {
      margin-right: 1rem;
      z-index: 1;
    }

    .visible {
      opacity: 1;
      visibility: visible;
    }
  }

  ul {
    flex-direction: column;
    align-items: end;
  }
}
