@use "../base/variables" as v;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: grid;
  place-items: center;
  width: 95%;
  background-color: v.$clr-gray;
  color: v.$clr-black;
  border-radius: 2rem;

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 85vh;

    .hero__beats {
      line-height: 1;
      font-size: 3rem;
      font-weight: bold;
      text-align: left;
    }

    .hero__wireless {
      line-height: 1;
      font-size: 7rem;
      font-weight: bold;
      text-align: left;
    }

    .hero__headphone {
      line-height: 1;
      color: v.$clr-light;
      font-size: 12rem;
      font-weight: bold;
      letter-spacing: 1.5rem;
      text-transform: uppercase;
    }

    .hero__img {
      position: absolute;
      left: 43%;
      min-width: 20%;
      height: 60%;
    }
  }

  .hero__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description {
      display: flex;
      flex-direction: column;
      width: 30%;
      gap: 1rem;
      text-align: right;
      margin: 2rem;

      p {
        text-align: right;
        font-size: 1.1rem;
      }
    }
    a {
      width: 20%;
      text-decoration: none;
      text-align: center;
      font-size: 2rem;
      padding: 1rem;
      color: v.$clr-light;
      background-color: v.$clr-red;
      border-radius: 2rem;
      transition: all 500ms;

      &:hover {
        background-color: v.$clr-black;
      }
    }
  }
}
