@use "../base/variables" as v;
@use "../base/mixins" as mx;

.main {
  display: grid;
  place-items: center;
}

.hero {
  display: grid;
  place-items: center;
  width: 95%;
  height: 90vh;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    " . . ."
    " headphone headphone headphone"
    "shop . description";
  background-color: v.$clr-gray;
  color: v.$clr-black;
  border-radius: 2rem;
  background-image: url(../../../public/img/hero.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  @include mx.dekstop {
    height: 75vh;
    background-size: 70%;
  }

  @include mx.tablet {
    background-size: 80%;
  }

  @include mx.phone {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "headphone  headphone"
      "shop  description";
  }

  &__shop {
    display: grid;
    place-items: center;
    grid-area: shop;

    a {
      font-size: 1.7vw;
      padding: 2rem 2.5rem;
      color: v.$clr-light;
      background-color: v.$clr-red;
      border-radius: 1.5rem;
      transition: all 500ms;
      &:hover {
        background-color: v.$clr-black;
      }

      @include mx.phone {
        font-size: 3vw;
      }
    }
  }
}

.items {
  line-height: 1;
  font-weight: bold;
}

.hero__container {
  grid-area: headphone;

  .sony {
    font-size: 2.9vw;
  }

  .wireless {
    font-size: 4vw;
  }

  .headphone {
    font-size: 8vw;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-family: v.$secundary-font;
    font-weight: 900;
    font-style: italic;
    color: v.$clr-light;

    span {
      text-shadow: 1rem 1.2rem 0.5rem rgb(0, 0, 0, 0.9);
    }
  }

  @include mx.tablet {
    .sony {
      font-size: 4vw;
    }

    .wireless {
      font-size: 5vw;
    }

    .headphone {
      font-size: 8vw;
    }
  }

  @include mx.phone {
    .sony {
      font-size: 4vw;
    }

    .wireless {
      font-size: 5vw;
    }

    .headphone {
      font-size: 8vw;
      letter-spacing: 2px;
    }
  }
}

.hero__description {
  grid-area: description;

  h2 {
    font-size: 2rem;
  }

  p {
    width: 60%;
    font-size: 1vw;
  }

  @include mx.phone {
    p {
      width: 90%;
      font-size: 2.3vw;
    }
  }
}
