@use "../base/variables" as v;
@use "../base/mixins" as mx;

main {
  display: grid;
  place-items: center;
}

.hero {
  display: grid;
  place-items: center;
  width: 95%;
  height: 90vh;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    " . . ."
    " headphone headphone headphone"
    "shop . description";
  background-color: v.$clr-gray;
  color: v.$clr-black;
  border-radius: 2rem;
  background-image: url(../../../public/img/hero.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  @include mx.dekstop {
    height: 75vh;
  }
  .hero__shop {
    display: grid;
    place-items: center;
    grid-area: shop;

    a {
      font-size: 1.5vw;
      padding: 2rem 2.5rem;
      color: v.$clr-light;
      background-color: v.$clr-red;
      border-radius: 1.5rem;
      transition: all 500ms;
      &:hover {
        background-color: v.$clr-black;
      }
    }
  }
}

.items {
  line-height: 1;
  font-weight: bold;
}

.hero__container {
  grid-area: headphone;

  .sony {
    font-size: 2vw;
  }

  .wireless {
    font-size: 4vw;
  }

  .headphone {
    font-size: 8vw;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: v.$clr-light;

    span {
      text-shadow: 1rem 1.2rem 0.5rem rgb(0, 0, 0, 0.9);
    }
  }
}

.hero__description {
  grid-area: description;

  h2 {
    font-size: 2vw;
  }

  p {
    width: 50%;
    font-size: 1vw;
  }
}
